/* #innerDiv{
    background-color: aqua;
    width: 100px;
    height: 100px;
    border: 2px solid;
}
#outerDiv{
    background-color: aqua;
    width: 200px;
    height: 200px;
} */

/* #myDiv{
    width: 200px;
    background-color: lightcoral;
    height: 200px;
    border: 1px solid;
    position: relative;
} */

/* .timerBtn{
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    font-family: consolas,monospace;
}

#timeDisplay{
    font-size: 300px;
    color: rgb(13, 230, 13);
    font-family: consolas,monospace;
}
#timeContainer{
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: black;
    height: 100vh;
}
h1{
    color: white;
} */

/* body{
    background-color: rgb(172, 171, 171);
} */

.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
}

#gameContainer{
    font-family: "Permanent Marker",cursive;
    text-align: center;
}